body {
  text-align: center;
  font-family: Arial, sans-serif;
}

.game {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  gap: 10px;
  justify-content: center;
  margin: 20px;
}

/* .hole {
  /* width: 100px;
  height: 100px; */
  /* background: #8B4513; /* Brown */
  /* border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden; */

  
  .bunny-img {
    width: 200px;
    /* visibility: hidden */
  }

.hole-img {
  width: 300px;
}

/*  */